# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
**.bak

# Make sure to not commit my config.json as it has secret keys. 
config.json
send-prod.sh
send-test.sh
node_modules/
dothomebridge/
mytest/
examples/testsend.config.json
